body {
    color: #fff;
}

#flex-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin: auto;
    width: fit-content;
    max-width: 95%;
    gap: 1rem;
}

.app {
    flex: 0 1 auto;
    display: grid;
    grid-template-columns: min-content 1fr 3rem 3rem;
    grid-template-rows: 1fr 1rem;
    gap: 0.5rem 0.5rem;
    grid-auto-flow: row;
    grid-template-areas:
        "app_logo app_name app_name app_users"
        "app_owner app_owner app_usage app_usage";
    min-width: 250px;
    width: calc((95vw - 5rem) / 3);
    padding: 0.5rem;
    background-color: var(--background2-color);
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.25s;
}

.app:hover {
    background-color: var(--background3-color);
}

.app_logo {
    grid-area: app_logo;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;

}

.app_users {
    grid-area: app_users;
    display: grid;
    place-content: center;
    color: #888;
    text-align: center;
}

.app_name {
    grid-area: app_name;
    font-size: 1.75rem;
    display: grid;
    place-items: center start;
    overflow: hidden;
    position: relative;
}

.app_name span {
    position: absolute;
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    top: calc((100% - 1.75rem) / 2);
}

.scroll {
    animation: scroll 10s linear infinite;
    scroll-behavior: smooth;
}


@keyframes scroll {
    20% {
        transform: translateX(0%);
    }

    90% {
        transform: translateX(calc(-100% + ((95vw - 5rem) / 3 - 8rem)));
    }

    95% {
        transform: translateX(calc(-100% + ((95vw - 5rem) / 3 - 8rem)));
    }

    100% {
        transform: translateX(0%);
    }
}

.app_owner {
    grid-area: app_owner;
    color: #888;
}

.app_usage {
    grid-area: app_usage;
    background-color: #8f8;
    border-radius: 0.5rem;
    position: relative;
}

.app_usage_bar {
    background-color: #f88;
    height: 100%;
    border-radius: 0.5rem;
    position: absolute;
    inset: 0;
}

.app_usage_title {
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    overflow: hidden;
    color: var(--background2-color);
}